


.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    animation: puzzle1 1s;
}

.example-appear {
    opacity: 1;
}

.example-appear .example-appear-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
   
}


@keyframes puzzle1 {
    0% {
      transform: translateX(-200px);
      opacity: 0;    
    }
    100% {
      transform: translateX(0);
      opacity:1;
  
    }
  }